.render{
    border-collapse:collapse ;
    border: 1px solid black;
    margin: auto;
    width: 70%;
    
}

td,tr{
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}
td{
    font-weight: 900;
}

.thead{
    background-color: whitesmoke;
}
.container-tabla-result{
    display: flex;
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    justify-content: space-between;
   
}
.notes{
    display: flex;
     width: 50%;
    justify-content: space-between;
    text-align: center;
    background-color: whitesmoke;
}
.notes >  * {
    border-right: 0.4px solid black;
    text-align: center;
    padding: 0.5em;
}
.grid-template{
    display:  grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    /* border : 1px solid black; */
}
.grid-template > * {
    outline: none;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding:  0.4em;
    background: whitesmoke;
}

.but-modal:hover{
    cursor: pointer;
    /* color: gray; */
}
.but-modal{
    width: 100px;
    height: 60px;
    background-color: black;
    color: whitesmoke;
    padding: 1em;
    border-radius: 4px;
    margin-top: 1em;
}
thead tr  th {
    padding: 1em;
}
.render-nota-app{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    border-top:1px solid black ;
    border-bottom:3px solid black ;
}